/* TODO */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TODO */
body {
    background-color: #d9dcd6;
}

/* TODO */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* TODO */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* TODO */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* TODO */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* TODO */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* TODO */
p,
small,
figcaption {
    font-size: 16px;
}

/* TODO */
ul {
    list-style-type: none;
}

/* TODO */
li {
    display: inline-block;
    margin-left: 25px;
}

/* TODO */
a {
    color: #ffffff;
    text-decoration: none;
}

/* TODO */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* TODO */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* TODO */
figure {
    margin-bottom: 32px;
    color: #ffffff;
}

/* TODO */
figure img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* TODO */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* TODO */
section img {
    max-height: 200px;
}

/* TODO */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* TODO */
footer h2 {
    font-size: 20px;
}

/* TODO */
.seo {
    color: #d9dcd6;
}

/* TODO */
.hero {
    height: 800px;
    width: 100vw;
    margin-bottom: 25px;
}

/* TODO */
.float-left {
    float: left;
    margin-right: 25px;
}

/* TODO */
.float-right {
    float: right;
    margin-left: 25px;
}